<!-- Introduction -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].introduction.section | default: "introduction" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext[site.locale].introduction.title }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1 text-right">
      </div>
      <div class="col-lg-5 mx-auto">
        <div class="large text-muted">
          Since then, over 2.200 covers with MirrorMax technology have been delivered all over the world.<br>
          MirrorMax covers are used with super calenders, soft calenders and multi-nip calenders.<br>
          <br>
          From long experience, we made continuous improvements to it.
          We started with static casting and evolved to the centrifugal casting which is used now.
        </div>
      </div>
      <div class="col-lg-5 text-right">
        <img class="img-fluid img-center" src="assets/images/technology/mm-sleeve.png" alt="MirrorMax">
      </div>
    </div>

  </div>
</section>
<!-- End Introduction -->